.container {
  font-size: 13px;
  font-family: Ubuntu, Roboto, sans-serif;
  color: rgb(94, 94, 94);
  text-align: center;
  height: 50px;
  width: 75px;
  padding: 5px;
  margin: 3px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: lightgray;
}

.select {
  color: black;
  background-color: white;
  font-weight: 500;
  text-shadow: 2px 2px lightgray;
}

.icons, .counts, .day {
  color: inherit;
  font-weight: inherit;
  text-shadow: inherit;
}

.icons, .counts {
  display: flex;
  justify-content: space-between;
}

.icons {
  font-size: 16px;
}

.counts {
  padding: 0 3px 0 3px;
}

.day {
  font-size: 14px;
}
